/* Estilos globales */
* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
p {
    margin: 0;
}
body {
    background: #F6F7FF;;

}
.row>* {
    padding-right: 0;
    padding-left: 0;
}

/* contenedor princiapl */
.container {
    display: flex;
    padding: 0;
    margin-top: 70px;
}
.container img {
    width: 60px;
    border-radius: 50%;
    border: 3px solid #fff;
    margin: 0 0 10px 0;
}

.cuerpo{
    min-width: 205px;

}

.menu_lateral {
    background: #4A63E7;
    padding: 30px;
    border-radius: 18px;
    color: #fff;
    position: fixed;
    box-shadow: 0px 15px 18px 0px rgba(56, 88, 252, 0.1);

}
.menu_lateral h2 {
    font-weight: 700;
    margin: 0 0 0 0;
    font-size: 19px;
}
.menu_lateral h2 span {
    color: red;
    font-weight: 900;
}
.menu_lateral .sub_title {
    font-size: 9px;
}
.menu_opc {
    margin: 40px 0 0 0;
    padding: 0;
}
.menu_opc li{
    list-style: none;
    font-size: 15px;
    font: menu;
}
.menu_opc li a{
    color: #fff;
    text-decoration: none;
}


.pie {
    display: flex;
    flex-direction: column;
    margin: 40px 0 0 0 ;

}

.pie div {
    text-align: center;
    letter-spacing: 10px;
    font-size: 25px;
}

.pie p{
    margin: 7px 0 0 0;
    font-size: 10px;
    color: rgb(219, 218, 218);
}
.pie a i{
    color: #fff;
}


.iconos_laterales{
    margin: 18px;
}




/* Contenido principal */
.row{
    width: 100vw;
}
.info_container .article {
    margin-bottom: 40px;
    box-shadow: 0px 15px 18px 0px rgba(56, 88, 252, 0.1);
    background-color: #fff;
    border-radius: 20px;
}
.info_container .inicio {
    /* background-image: url(../source/img/perfil_2.jpg); */
}
.info_container .article .card1_article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 20px;
    background-color: #4A63E7;
    height: 600px;
    color: #fff;
    padding: 0 100px 0 130px;
}
.info_container .article .card1_article h1{
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 18px;
}
.info_container .article .card1_article p {
    margin-bottom: 25px;

}


.cuerpo .menu_lateral h2 i,
.info_container .article .card1_article h1 i{
    color: red;
    font-size: 10px;
    margin-left: 5px;
}



/* Botones */
.btn_basic{
    border-radius: 30px;
    padding: 12px 26px;
    border: none;
}
.btn_basic i{
    margin-right: 10px;
    color: #fff;

}
.btn_basic a{
    text-decoration: none;
    color: #fff;
}

.btn_portfolio {
    margin-right: 18px;
    background: #FF5959;
    position: relative;
}
.btn_portfolio:hover {
    background-color: #4A63E7;
    -webkit-box-shadow: 1px 11px 55px -2px rgba(0,0,0,0.44);
    -moz-box-shadow: 1px 11px 55px -2px rgba(0,0,0,0.44);
    box-shadow: 1px 11px 55px -2px rgba(0,0,0,0.44);
    bottom: 7px;
    transition: 0.4s;
    
}

.btn_contacto {
    background: none;
    position: relative;
}

.btn_contacto:hover {
    background: #fff;
    border: none;
    -webkit-box-shadow: 1px 11px 55px -2px rgba(0,0,0,0.44);
    -moz-box-shadow: 1px 11px 55px -2px rgba(0,0,0,0.44);
    box-shadow: 1px 11px 55px -2px rgba(0,0,0,0.44);
    bottom: 7px;
    transition: 0.4s;
}


@media (min-width: 1400px){
    .container {
        min-width: 1200px;
    }
    .menu_lateral{
        max-width: 250px;
        min-width: 250px;
    }

}

@media (min-width: 1200px){
    .container{
    }
    .menu_lateral{
        max-width: 240px;
        min-width: 240px;
    }
}

@media (min-width: 992px){
    .menu_lateral {
        max-width: 230px;
        min-width: 230px;
    }
    .container{
        width: 100%;
    }

}
@media (max-width: 992px){
    .menu_lateral{

        transform: translate(-300px, 0%);
    }
}


@media (min-width: 768px){
    .menu_lateral {
        max-width: 220px;
        min-width: 220px;
    }

}



/*
@media (max-width: 576px){
    .menu_lateral {
        display: none;
    }
} */
